html{
    margin: 0;
    background-color: #FF8C8C;
}

body{
    margin : 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.currentYear{
    margin-top: 7%;
    margin-left: 1%;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 11px;
}

.prev, .forward {
    padding: 0.2em 0.5em;
    align-self: center;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #DB4062;
    color: white;
    font-weight: bold;
  }
  /* https://nanati.me/css-button-design/ */
  

.prev:hover,.forward:hover{
    background-color: #FFB937;
    transform: scale(1.2);
  }

.cal{
    width: 50%;
    transform: translateX(50%);
    display: flex;
    flex-flow: column;
    align-items: center;
}

.calHead{
    display: flex;
    justify-content: space-evenly;
    width: 350px;
    height: 45px;
    margin-bottom: 1%;
    border-radius: 10px;
    background-color: #FF7878;
}

.currentMonth{
    width: 250px;
    margin-bottom: 2%;
    text-align: center;
    font-size: 30px;   
}

.today{
    margin-top: 1%;
    margin-bottom: 3%;
    width: 350px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 3px;
}

.days, .datelist{
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:flex-start;
    background-color:#BE5C5C;
}

.days div, .datelist div{
    width: 50px;
    height: 30px;
    padding-top: 9px;
    padding-bottom: 12px;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 7px;
}

.datelist div:hover{
    cursor: pointer;
}

.days{
    background-color: #CD7070;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.datelist{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.notThisMon{
    opacity: 0.3;
}

.clicked{
    background-color: #D77A58;
}
