body{
    margin : 0;
}

.content{
    position: absolute;
    top: 20%;
    left: 15%;
    height: 58vh;
    width: 70vw;
    border-radius: 20px;
    background-color: #006400;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.main{
    height: 80%;
    margin-left: 30px;
    margin-bottom: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: baseline;
}

.imageHolder{
    width: 100vh;
    height: 90%;
    padding: 0;
    margin-left: 3%;
    margin-right: 6%;
    background-color: white;
    border-radius: 10px;
    padding-left: 60px;
    padding-bottom: 30px;
    padding-top: 5px;
}

.prev{
    margin-right: 3%;
}

.forward{
     margin-right: 8%;
}

.prev, .forward {
    width: 5%;
    height: 12%;
    padding: 0.2em 0.5em;
    align-self: center;
    background-color: #d2b48c;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }
  /* https://nanati.me/css-button-design/ */


.prev:hover, .forward:hover{
    transform: scale(1.1);
    background-color:yellowgreen;
}

.dotBundle{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center; 
    width: 13%;   
    margin-top: 20px;
    margin-right: 40px;
    list-style: none;
} 

.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ffcc99;
}

.dot:hover{
    cursor: pointer;
    transform: scale(1.1);
    background-color:yellowgreen;
}
